USE [HireHubDB]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationId] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[CandidateId] [bigint] NOT NULL,
	[ResumeId] [bigint] NULL,
	[CurrentStatusId] [bigint] NOT NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
	[CoverLetter] [nvarchar](max) NULL,
	[ExpectedSalary] [decimal](18, 2) NULL,
	[SourceChannel] [nvarchar](100) NULL,
	[RecruiterNote] [nvarchar](max) NULL,
	[LastStatusChangedAt] [datetime2](7) NOT NULL,
	[HRNote] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStatuses]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStatuses](
	[ApplicationStatusId] [bigint] IDENTITY(1,1) NOT NULL,
	[StatusCode] [nvarchar](50) NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsFinalStatus] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStatusHistory]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStatusHistory](
	[ApplicationHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [bigint] NOT NULL,
	[FromStatusId] [bigint] NULL,
	[ToStatusId] [bigint] NOT NULL,
	[ChangedByUserId] [bigint] NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[ActionCode] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[RecordId] [bigint] NULL,
	[OldData] [nvarchar](max) NULL,
	[NewData] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](100) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateEducations]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateEducations](
	[EducationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CandidateId] [bigint] NOT NULL,
	[SchoolName] [nvarchar](200) NOT NULL,
	[Degree] [nvarchar](100) NULL,
	[Major] [nvarchar](150) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[GPA] [decimal](4, 2) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateExperiences]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateExperiences](
	[ExperienceId] [bigint] IDENTITY(1,1) NOT NULL,
	[CandidateId] [bigint] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[PositionTitle] [nvarchar](150) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsCurrentJob] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateProfiles]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateProfiles](
	[CandidateId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Headline] [nvarchar](200) NULL,
	[Summary] [nvarchar](max) NULL,
	[CurrentLocationId] [bigint] NULL,
	[PreferredLocationId] [bigint] NULL,
	[CurrentSalary] [decimal](18, 2) NULL,
	[ExpectedSalary] [decimal](18, 2) NULL,
	[YearsOfExperience] [decimal](5, 2) NULL,
	[HighestDegree] [nvarchar](100) NULL,
	[PortfolioUrl] [nvarchar](255) NULL,
	[LinkedinUrl] [nvarchar](255) NULL,
	[GithubUrl] [nvarchar](255) NULL,
	[EmploymentStatus] [nvarchar](30) NOT NULL,
	[IsPublicProfile] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateResumes]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateResumes](
	[ResumeId] [bigint] IDENTITY(1,1) NOT NULL,
	[CandidateId] [bigint] NOT NULL,
	[ResumeTitle] [nvarchar](200) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](20) NULL,
	[FileSizeKB] [int] NULL,
	[VersionNo] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResumeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateSkills]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateSkills](
	[CandidateSkillId] [bigint] IDENTITY(1,1) NOT NULL,
	[CandidateId] [bigint] NOT NULL,
	[SkillId] [bigint] NOT NULL,
	[ProficiencyLevel] [nvarchar](30) NULL,
	[YearsOfExperience] [decimal](5, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Icon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[TaxCode] [nvarchar](50) NULL,
	[WebsiteUrl] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[FoundedYear] [int] NULL,
	[CompanySize] [nvarchar](50) NULL,
	[Industry] [nvarchar](150) NULL,
	[AddressLine] [nvarchar](255) NULL,
	[LocationId] [bigint] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedByUserId] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploymentTypes]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentTypes](
	[EmploymentTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmploymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienceLevels]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienceLevels](
	[ExperienceLevelId] [bigint] IDENTITY(1,1) NOT NULL,
	[LevelCode] [nvarchar](50) NOT NULL,
	[LevelName] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneratedReports]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneratedReports](
	[GeneratedReportId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReportTypeId] [bigint] NOT NULL,
	[GeneratedByUserId] [bigint] NULL,
	[ReportName] [nvarchar](200) NOT NULL,
	[FileUrl] [nvarchar](500) NULL,
	[ParametersJson] [nvarchar](max) NULL,
	[GeneratedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneratedReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewFeedbacks]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewFeedbacks](
	[FeedbackId] [bigint] IDENTITY(1,1) NOT NULL,
	[InterviewId] [bigint] NOT NULL,
	[ReviewerUserId] [bigint] NOT NULL,
	[TechnicalScore] [decimal](5, 2) NULL,
	[CommunicationScore] [decimal](5, 2) NULL,
	[CultureFitScore] [decimal](5, 2) NULL,
	[OverallScore] [decimal](5, 2) NULL,
	[Recommendation] [nvarchar](30) NULL,
	[Strengths] [nvarchar](max) NULL,
	[Weaknesses] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[InterviewId] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [bigint] NOT NULL,
	[InterviewTypeId] [bigint] NOT NULL,
	[ScheduledByUserId] [bigint] NULL,
	[InterviewerUserId] [bigint] NULL,
	[StartAt] [datetime2](7) NOT NULL,
	[EndAt] [datetime2](7) NOT NULL,
	[MeetingLink] [nvarchar](500) NULL,
	[LocationText] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InterviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewTypes]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewTypes](
	[InterviewTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InterviewTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobBenefits]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobBenefits](
	[JobBenefitId] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[BenefitText] [nvarchar](255) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobBenefitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCategories]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCategories](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NOT NULL,
	[ParentCategoryId] [bigint] NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[DepartmentId] [bigint] NULL,
	[PostedByRecruiterId] [bigint] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[EmploymentTypeId] [bigint] NOT NULL,
	[ExperienceLevelId] [bigint] NULL,
	[Title] [nvarchar](250) NOT NULL,
	[JobCode] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Requirements] [nvarchar](max) NULL,
	[Responsibilities] [nvarchar](max) NULL,
	[LocationId] [bigint] NULL,
	[AddressDetail] [nvarchar](255) NULL,
	[SalaryMin] [decimal](18, 2) NULL,
	[SalaryMax] [decimal](18, 2) NULL,
	[CurrencyCode] [nvarchar](10) NOT NULL,
	[VacancyCount] [int] NOT NULL,
	[DeadlineAt] [datetime2](7) NULL,
	[PublishedAt] [datetime2](7) NULL,
	[ClosedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSkills]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSkills](
	[JobSkillId] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[SkillId] [bigint] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[MinimumYears] [decimal](5, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](150) NOT NULL,
	[LocationType] [nvarchar](30) NOT NULL,
	[ParentLocationId] [bigint] NULL,
	[PostalCode] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationRecipients]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationRecipients](
	[NotificationRecipientId] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[DeliveryStatus] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationRecipientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ReferenceTable] [nvarchar](100) NULL,
	[ReferenceId] [bigint] NULL,
	[CreatedByUserId] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](100) NOT NULL,
	[PermissionName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecruiterProfiles]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruiterProfiles](
	[RecruiterId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[DepartmentId] [bigint] NULL,
	[JobTitle] [nvarchar](150) NULL,
	[IsPrimaryContact] [bit] NOT NULL,
	[Bio] [nvarchar](1000) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecruiterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[RefreshTokenId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TokenValue] [nvarchar](500) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserAgent] [nvarchar](500) NULL,
	[IpAddress] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RefreshTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTypes]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTypes](
	[ReportTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReportCode] [nvarchar](50) NOT NULL,
	[ReportName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[GrantedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedJobs]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedJobs](
	[SavedJobId] [bigint] IDENTITY(1,1) NOT NULL,
	[CandidateId] [bigint] NOT NULL,
	[JobId] [bigint] NOT NULL,
	[SavedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SavedJobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [bigint] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[SkillCategory] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedByUserId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/21/2026 9:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Gender] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationId], [JobId], [CandidateId], [ResumeId], [CurrentStatusId], [AppliedAt], [CoverLetter], [ExpectedSalary], [SourceChannel], [RecruiterNote], [LastStatusChangedAt], [HRNote]) VALUES (5, 21, 2, NULL, 6, CAST(N'2026-04-16T01:27:11.0037795' AS DateTime2), N'Thư ứng tuyển PENDING', CAST(15000000.00 AS Decimal(18, 2)), N'Website', NULL, CAST(N'2026-04-21T02:14:25.4922631' AS DateTime2), NULL)
INSERT [dbo].[Applications] ([ApplicationId], [JobId], [CandidateId], [ResumeId], [CurrentStatusId], [AppliedAt], [CoverLetter], [ExpectedSalary], [SourceChannel], [RecruiterNote], [LastStatusChangedAt], [HRNote]) VALUES (6, 20, 2, NULL, 2, CAST(N'2026-04-13T01:27:11.0037795' AS DateTime2), N'Thư ứng tuyển REVIEWING', CAST(20000000.00 AS Decimal(18, 2)), N'Facebook', N'HR ghi chú: ứng viên rất tuyệt vời', CAST(N'2026-04-17T01:27:11.0037795' AS DateTime2), NULL)
INSERT [dbo].[Applications] ([ApplicationId], [JobId], [CandidateId], [ResumeId], [CurrentStatusId], [AppliedAt], [CoverLetter], [ExpectedSalary], [SourceChannel], [RecruiterNote], [LastStatusChangedAt], [HRNote]) VALUES (8, 15, 2, 2, 4, CAST(N'2026-04-20T13:41:50.7581872' AS DateTime2), N'', NULL, NULL, NULL, CAST(N'2026-04-20T13:47:52.1840712' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationStatuses] ON 

INSERT [dbo].[ApplicationStatuses] ([ApplicationStatusId], [StatusCode], [StatusName], [SortOrder], [IsFinalStatus], [IsActive]) VALUES (1, N'PENDING', N'Chờ duyệt', 1, 0, 1)
INSERT [dbo].[ApplicationStatuses] ([ApplicationStatusId], [StatusCode], [StatusName], [SortOrder], [IsFinalStatus], [IsActive]) VALUES (2, N'REVIEWING', N'Đang xem xét', 2, 0, 1)
INSERT [dbo].[ApplicationStatuses] ([ApplicationStatusId], [StatusCode], [StatusName], [SortOrder], [IsFinalStatus], [IsActive]) VALUES (3, N'INTERVIEWING', N'Phỏng vấn', 3, 0, 1)
SET IDENTITY_INSERT [dbo].[ApplicationStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationStatusHistory] ON 

INSERT [dbo].[ApplicationStatusHistory] ([ApplicationHistoryId], [ApplicationId], [FromStatusId], [ToStatusId], [ChangedByUserId], [ChangedAt], [Note]) VALUES (5, 5, NULL, 1, 9, CAST(N'2026-04-16T01:27:11.0037795' AS DateTime2), N'Ứng viên nộp hồ sơ')
INSERT [dbo].[ApplicationStatusHistory] ([ApplicationHistoryId], [ApplicationId], [FromStatusId], [ToStatusId], [ChangedByUserId], [ChangedAt], [Note]) VALUES (6, 6, NULL, 1, 9, CAST(N'2026-04-13T01:27:11.0037795' AS DateTime2), N'Ứng viên nộp hồ sơ')
INSERT [dbo].[ApplicationStatusHistory] ([ApplicationHistoryId], [ApplicationId], [FromStatusId], [ToStatusId], [ChangedByUserId], [ChangedAt], [Note]) VALUES (7, 6, 1, 2, 10, CAST(N'2026-04-17T01:27:11.0037795' AS DateTime2), N'HR bắt đầu xem xét hồ sơ')
SET IDENTITY_INSERT [dbo].[ApplicationStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateProfiles] ON 

INSERT [dbo].[CandidateProfiles] ([CandidateId], [UserId], [Headline], [Summary], [CurrentLocationId], [PreferredLocationId], [CurrentSalary], [ExpectedSalary], [YearsOfExperience], [HighestDegree], [PortfolioUrl], [LinkedinUrl], [GithubUrl], [EmploymentStatus], [IsPublicProfile], [CreatedAt], [UpdatedAt]) VALUES (2, 9, N'Java Developer', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'OPEN_TO_WORK', 1, CAST(N'2026-04-18T01:27:10.9463131' AS DateTime2), CAST(N'2026-04-18T01:27:10.9463131' AS DateTime2))
INSERT [dbo].[CandidateProfiles] ([CandidateId], [UserId], [Headline], [Summary], [CurrentLocationId], [PreferredLocationId], [CurrentSalary], [ExpectedSalary], [YearsOfExperience], [HighestDegree], [PortfolioUrl], [LinkedinUrl], [GithubUrl], [EmploymentStatus], [IsPublicProfile], [CreatedAt], [UpdatedAt]) VALUES (3, 13, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'OPEN_TO_WORK', 1, CAST(N'2026-04-21T04:52:37.3556297' AS DateTime2), CAST(N'2026-04-21T04:52:37.3556297' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CandidateProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateResumes] ON 

INSERT [dbo].[CandidateResumes] ([ResumeId], [CandidateId], [ResumeTitle], [FileUrl], [FileType], [FileSizeKB], [VersionNo], [IsDefault], [UploadedAt]) VALUES (1, 2, N'CV_7ea0ab9d', N'/HireHubProject/uploads/cv/7ea0ab9d-7978-4d05-a090-27de91cb95bb.pdf', N'application/pdf', 1134, 1, 1, CAST(N'2026-04-18T08:03:18.9011569' AS DateTime2))
INSERT [dbo].[CandidateResumes] ([ResumeId], [CandidateId], [ResumeTitle], [FileUrl], [FileType], [FileSizeKB], [VersionNo], [IsDefault], [UploadedAt]) VALUES (2, 2, N'CV_a1b450a5', N'/HireHubProject/uploads/cv/a1b450a5-5277-4354-a2d3-e40b168084b3.pdf', N'application/pdf', 1134, 1, 1, CAST(N'2026-04-20T13:41:50.7422708' AS DateTime2))
INSERT [dbo].[CandidateResumes] ([ResumeId], [CandidateId], [ResumeTitle], [FileUrl], [FileType], [FileSizeKB], [VersionNo], [IsDefault], [UploadedAt]) VALUES (3, 2, N'CV_ea967416', N'/HireHubProject/uploads/cv/ea967416-0bfa-460b-8b1d-8c64e94f50f2.pdf', N'application/pdf', 1045, 1, 1, CAST(N'2026-04-21T02:32:36.7603834' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CandidateResumes] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [Icon]) VALUES (1, N'IT / Software Development', N'Các công việc liên quan đến lập trình, phần mềm', N'fa-laptop-code')
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [Icon]) VALUES (2, N'Marketing / PR', N'Tiếp thị, quảng cáo, quan hệ công chúng', N'fa-bullhorn')
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [Icon]) VALUES (3, N'Sales / Business Development', N'Kinh doanh, bán hàng', N'fa-chart-line')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [TaxCode], [WebsiteUrl], [Email], [PhoneNumber], [LogoUrl], [Description], [FoundedYear], [CompanySize], [Industry], [AddressLine], [LocationId], [Status], [CreatedByUserId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Công ty Cổ phần HireHub', NULL, NULL, N'contact@hirehub.com', N'0123456789', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ACTIVE', 1, CAST(N'2026-04-13T20:33:37.8577891' AS DateTime2), CAST(N'2026-04-13T20:33:37.8577891' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[EmploymentTypes] ON 

INSERT [dbo].[EmploymentTypes] ([EmploymentTypeId], [TypeCode], [TypeName], [IsActive]) VALUES (1, N'FULL_TIME', N'Toàn thời gian (Full-time)', 1)
INSERT [dbo].[EmploymentTypes] ([EmploymentTypeId], [TypeCode], [TypeName], [IsActive]) VALUES (2, N'PART_TIME', N'Bán thời gian (Part-time)', 1)
INSERT [dbo].[EmploymentTypes] ([EmploymentTypeId], [TypeCode], [TypeName], [IsActive]) VALUES (3, N'INTERNSHIP', N'Thực tập sinh (Intern)', 1)
SET IDENTITY_INSERT [dbo].[EmploymentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ExperienceLevels] ON 

INSERT [dbo].[ExperienceLevels] ([ExperienceLevelId], [LevelCode], [LevelName], [SortOrder], [IsActive]) VALUES (1, N'NO_EXPERIENCE', N'Chưa có kinh nghiệm', 1, 1)
INSERT [dbo].[ExperienceLevels] ([ExperienceLevelId], [LevelCode], [LevelName], [SortOrder], [IsActive]) VALUES (2, N'UNDER_1_YEAR', N'Dưới 1 năm kinh nghiệm', 2, 1)
INSERT [dbo].[ExperienceLevels] ([ExperienceLevelId], [LevelCode], [LevelName], [SortOrder], [IsActive]) VALUES (3, N'1_TO_3_YEARS', N'1 - 3 năm kinh nghiệm', 3, 1)
SET IDENTITY_INSERT [dbo].[ExperienceLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[JobCategories] ON 

INSERT [dbo].[JobCategories] ([CategoryId], [CategoryName], [ParentCategoryId], [Description], [IsActive], [CreatedAt]) VALUES (1, N'IT / Phần mềm', NULL, N'Lập trình viên, Quản trị mạng, Data...', 1, CAST(N'2026-04-13T20:26:34.5631754' AS DateTime2))
INSERT [dbo].[JobCategories] ([CategoryId], [CategoryName], [ParentCategoryId], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Marketing / PR', NULL, N'Trưởng phòng Marketing, Digital Marketing...', 1, CAST(N'2026-04-13T20:26:34.5631754' AS DateTime2))
INSERT [dbo].[JobCategories] ([CategoryId], [CategoryName], [ParentCategoryId], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Bán hàng / Kinh doanh', NULL, N'Nhân viên Kinh doanh, Trưởng phòng Sale...', 1, CAST(N'2026-04-13T20:26:34.5631754' AS DateTime2))
SET IDENTITY_INSERT [dbo].[JobCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationId], [LocationName], [LocationType], [ParentLocationId], [PostalCode], [IsActive]) VALUES (1, N'Hà Nội', N'CITY', NULL, NULL, 1)
INSERT [dbo].[Locations] ([LocationId], [LocationName], [LocationType], [ParentLocationId], [PostalCode], [IsActive]) VALUES (2, N'Hồ Chí Minh', N'CITY', NULL, NULL, 1)
INSERT [dbo].[Locations] ([LocationId], [LocationName], [LocationType], [ParentLocationId], [PostalCode], [IsActive]) VALUES (3, N'Đà Nẵng', N'CITY', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [NotificationType], [Title], [Content], [ReferenceTable], [ReferenceId], [CreatedByUserId], [CreatedAt]) VALUES (3, N'SYSTEM', N'🎉 Chào mừng đến với HireHub!', N'Tài khoản của bạn đã sẵn sàng. Hãy cập nhật hồ sơ cá nhân để tăng cơ hội được nhà tuyển dụng chú ý!', NULL, NULL, NULL, CAST(N'2026-04-13T01:19:23.5011083' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[RecruiterProfiles] ON 

INSERT [dbo].[RecruiterProfiles] ([RecruiterId], [UserId], [CompanyId], [DepartmentId], [JobTitle], [IsPrimaryContact], [Bio], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 2, 1, NULL, N'Trưởng phòng Nhân sự', 0, N'', N'ACTIVE', CAST(N'2026-04-13T20:33:37.8587889' AS DateTime2), CAST(N'2026-04-13T20:33:37.8587889' AS DateTime2))
INSERT [dbo].[RecruiterProfiles] ([RecruiterId], [UserId], [CompanyId], [DepartmentId], [JobTitle], [IsPrimaryContact], [Bio], [Status], [CreatedAt], [UpdatedAt]) VALUES (4, 10, 1, NULL, N'Trưởng phòng Nhân sự', 1, N'', N'INACTIVE', CAST(N'2026-04-18T01:27:10.9595316' AS DateTime2), CAST(N'2026-04-18T01:27:10.9595316' AS DateTime2))
INSERT [dbo].[RecruiterProfiles] ([RecruiterId], [UserId], [CompanyId], [DepartmentId], [JobTitle], [IsPrimaryContact], [Bio], [Status], [CreatedAt], [UpdatedAt]) VALUES (5, 11, 1, NULL, N'Công ty cổ phần trách nghiệm hữu hạn ', 0, N'', N'ACTIVE', CAST(N'2026-04-21T03:01:47.0044470' AS DateTime2), CAST(N'2026-04-21T03:01:47.0044470' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RecruiterProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleCode], [RoleName], [Description], [IsActive], [CreatedAt]) VALUES (1, N'CANDIDATE', N'Ứng viên', N'Người tìm việc - Candidate', 1, CAST(N'2026-04-13T18:16:49.5393120' AS DateTime2))
INSERT [dbo].[Roles] ([RoleId], [RoleCode], [RoleName], [Description], [IsActive], [CreatedAt]) VALUES (2, N'RECRUITER', N'Nhà tuyển dụng', N'Người đăng tin tuyển dụng - Recruiter', 1, CAST(N'2026-04-13T18:16:49.5488287' AS DateTime2))
INSERT [dbo].[Roles] ([RoleId], [RoleCode], [RoleName], [Description], [IsActive], [CreatedAt]) VALUES (3, N'ADMIN', N'Quản trị viên', N'Administrator - Quản trị hệ thống', 1, CAST(N'2026-04-13T18:16:49.5540563' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedJobs] ON 

INSERT [dbo].[SavedJobs] ([SavedJobId], [CandidateId], [JobId], [SavedAt]) VALUES (10, 3, 38, CAST(N'2026-04-21T05:03:57.9585427' AS DateTime2))
INSERT [dbo].[SavedJobs] ([SavedJobId], [CandidateId], [JobId], [SavedAt]) VALUES (11, 3, 39, CAST(N'2026-04-21T05:03:59.0787902' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SavedJobs] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt], [AssignedByUserId], [IsActive]) VALUES (1, 1, 2, CAST(N'2026-04-13T18:33:26.4027390' AS DateTime2), NULL, 1)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt], [AssignedByUserId], [IsActive]) VALUES (2, 2, 3, CAST(N'2026-04-13T20:19:56.3798005' AS DateTime2), NULL, 1)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt], [AssignedByUserId], [IsActive]) VALUES (9, 9, 1, CAST(N'2026-04-18T01:27:10.9463131' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [PhoneNumber], [AvatarUrl], [Gender], [DateOfBirth], [Status], [EmailVerified], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (1, N'nguyenvanc@gmail.com', N'$2a$12$XJ83xqZDvK8Ele3hjRyEveQ5Bxfb3o03/vzKhpo3Rr8x8cqC1QYWa', N'nguyen van c', N'0328788328', NULL, N'Nam', NULL, N'ACTIVE', 0, CAST(N'2026-04-21T09:58:36.6050044' AS DateTime2), CAST(N'2026-04-13T18:33:26.2920956' AS DateTime2), CAST(N'2026-04-21T09:35:39.9585623' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [PhoneNumber], [AvatarUrl], [Gender], [DateOfBirth], [Status], [EmailVerified], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (2, N'employer@hirehub.com', N'$2a$12$XJ83xqZDvK8Ele3hjRyEveQ5Bxfb3o03/vzKhpo3Rr8x8cqC1QYWa', N'Công ty Cổ phần HireHub', N'0901234567', NULL, N'MALE', NULL, N'ACTIVE', 1, CAST(N'2026-04-21T03:33:07.7261416' AS DateTime2), CAST(N'2026-04-13T20:19:56.3782931' AS DateTime2), CAST(N'2026-04-13T20:19:56.3782931' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [PhoneNumber], [AvatarUrl], [Gender], [DateOfBirth], [Status], [EmailVerified], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (9, N'user2@gmail.com', N'$2a$12$XJ83xqZDvK8Ele3hjRyEveQ5Bxfb3o03/vzKhpo3Rr8x8cqC1QYWa', N'Chun kyo Bin', N'0999000111', NULL, N'', NULL, N'ACTIVE', 1, CAST(N'2026-04-21T10:02:57.1776076' AS DateTime2), CAST(N'2026-04-18T01:27:10.9463131' AS DateTime2), CAST(N'2026-04-21T04:36:16.0845266' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Applications]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [UQ_Applications] UNIQUE NONCLUSTERED 
(
	[JobId] ASC,
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Applicat__6A7B44FCB36C3B0A]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[ApplicationStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CandidateProfiles_User]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[CandidateProfiles] ADD  CONSTRAINT [UQ_CandidateProfiles_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CandidateSkills]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[CandidateSkills] ADD  CONSTRAINT [UQ_CandidateSkills] UNIQUE NONCLUSTERED 
(
	[CandidateId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Departments]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [UQ_Departments] UNIQUE NONCLUSTERED 
(
	[CompanyId] ASC,
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employme__3E1CDC7C0D75F180]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[EmploymentTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Experien__F57705F8DBF7E093]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[ExperienceLevels] ADD UNIQUE NONCLUSTERED 
(
	[LevelCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Intervie__3E1CDC7C42B15F47]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[InterviewTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_JobCategories]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[JobCategories] ADD  CONSTRAINT [UQ_JobCategories] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_JobSkills]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[JobSkills] ADD  CONSTRAINT [UQ_JobSkills] UNIQUE NONCLUSTERED 
(
	[JobId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_NotificationRecipients]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[NotificationRecipients] ADD  CONSTRAINT [UQ_NotificationRecipients] UNIQUE NONCLUSTERED 
(
	[NotificationId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__91FE575060F26A21]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RecruiterProfiles_User]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[RecruiterProfiles] ADD  CONSTRAINT [UQ_RecruiterProfiles_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ReportTy__0EDCD614ABB8BD87]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[ReportTypes] ADD UNIQUE NONCLUSTERED 
(
	[ReportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePermissions]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [UQ_RolePermissions] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__D62CB59C73BC1850]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SavedJobs]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[SavedJobs] ADD  CONSTRAINT [UQ_SavedJobs] UNIQUE NONCLUSTERED 
(
	[CandidateId] ASC,
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Skills__B63C6571FEB395E1]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[Skills] ADD UNIQUE NONCLUSTERED 
(
	[SkillName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRoles]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRoles] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 4/21/2026 9:41:50 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (sysutcdatetime()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (sysutcdatetime()) FOR [LastStatusChangedAt]
GO
ALTER TABLE [dbo].[ApplicationStatuses] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ApplicationStatuses] ADD  DEFAULT ((0)) FOR [IsFinalStatus]
GO
ALTER TABLE [dbo].[ApplicationStatuses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApplicationStatusHistory] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CandidateEducations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CandidateExperiences] ADD  DEFAULT ((0)) FOR [IsCurrentJob]
GO
ALTER TABLE [dbo].[CandidateExperiences] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CandidateProfiles] ADD  DEFAULT ('OPEN_TO_WORK') FOR [EmploymentStatus]
GO
ALTER TABLE [dbo].[CandidateProfiles] ADD  DEFAULT ((1)) FOR [IsPublicProfile]
GO
ALTER TABLE [dbo].[CandidateProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CandidateProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CandidateResumes] ADD  DEFAULT ((1)) FOR [VersionNo]
GO
ALTER TABLE [dbo].[CandidateResumes] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[CandidateResumes] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[CandidateSkills] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmploymentTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExperienceLevels] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ExperienceLevels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GeneratedReports] ADD  DEFAULT (sysutcdatetime()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[GeneratedReports] ADD  DEFAULT ('COMPLETED') FOR [Status]
GO
ALTER TABLE [dbo].[InterviewFeedbacks] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT ('SCHEDULED') FOR [Status]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InterviewTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[JobBenefits] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[JobBenefits] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JobCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[JobCategories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('VND') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [VacancyCount]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[JobSkills] ADD  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[JobSkills] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotificationRecipients] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[NotificationRecipients] ADD  DEFAULT ('SENT') FOR [DeliveryStatus]
GO
ALTER TABLE [dbo].[NotificationRecipients] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RecruiterProfiles] ADD  DEFAULT ((0)) FOR [IsPrimaryContact]
GO
ALTER TABLE [dbo].[RecruiterProfiles] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[RecruiterProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RecruiterProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT (sysutcdatetime()) FOR [GrantedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SavedJobs] ADD  DEFAULT (sysutcdatetime()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateProfiles] ([CandidateId])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Candidates]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Jobs]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Resumes] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[CandidateResumes] ([ResumeId])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Resumes]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Statuses] FOREIGN KEY([CurrentStatusId])
REFERENCES [dbo].[ApplicationStatuses] ([ApplicationStatusId])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Statuses]
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHistory_Applications] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[ApplicationStatusHistory] CHECK CONSTRAINT [FK_AppStatusHistory_Applications]
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHistory_FromStatus] FOREIGN KEY([FromStatusId])
REFERENCES [dbo].[ApplicationStatuses] ([ApplicationStatusId])
GO
ALTER TABLE [dbo].[ApplicationStatusHistory] CHECK CONSTRAINT [FK_AppStatusHistory_FromStatus]
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHistory_ToStatus] FOREIGN KEY([ToStatusId])
REFERENCES [dbo].[ApplicationStatuses] ([ApplicationStatusId])
GO
ALTER TABLE [dbo].[ApplicationStatusHistory] CHECK CONSTRAINT [FK_AppStatusHistory_ToStatus]
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHistory_Users] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ApplicationStatusHistory] CHECK CONSTRAINT [FK_AppStatusHistory_Users]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[CandidateEducations]  WITH CHECK ADD  CONSTRAINT [FK_CandidateEducations_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateProfiles] ([CandidateId])
GO
ALTER TABLE [dbo].[CandidateEducations] CHECK CONSTRAINT [FK_CandidateEducations_Candidates]
GO
ALTER TABLE [dbo].[CandidateExperiences]  WITH CHECK ADD  CONSTRAINT [FK_CandidateExperiences_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateProfiles] ([CandidateId])
GO
ALTER TABLE [dbo].[CandidateExperiences] CHECK CONSTRAINT [FK_CandidateExperiences_Candidates]
GO
ALTER TABLE [dbo].[CandidateProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CandidateProfiles_CurrentLocation] FOREIGN KEY([CurrentLocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[CandidateProfiles] CHECK CONSTRAINT [FK_CandidateProfiles_CurrentLocation]
GO
ALTER TABLE [dbo].[CandidateProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CandidateProfiles_PreferredLocation] FOREIGN KEY([PreferredLocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[CandidateProfiles] CHECK CONSTRAINT [FK_CandidateProfiles_PreferredLocation]
GO
ALTER TABLE [dbo].[CandidateProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CandidateProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CandidateProfiles] CHECK CONSTRAINT [FK_CandidateProfiles_Users]
GO
ALTER TABLE [dbo].[CandidateResumes]  WITH CHECK ADD  CONSTRAINT [FK_CandidateResumes_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateProfiles] ([CandidateId])
GO
ALTER TABLE [dbo].[CandidateResumes] CHECK CONSTRAINT [FK_CandidateResumes_Candidates]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [FK_CandidateSkills_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateProfiles] ([CandidateId])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [FK_CandidateSkills_Candidates]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [FK_CandidateSkills_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [FK_CandidateSkills_Skills]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_CreatedBy]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Locations]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Companies]
GO
ALTER TABLE [dbo].[GeneratedReports]  WITH CHECK ADD  CONSTRAINT [FK_GeneratedReports_ReportTypes] FOREIGN KEY([ReportTypeId])
REFERENCES [dbo].[ReportTypes] ([ReportTypeId])
GO
ALTER TABLE [dbo].[GeneratedReports] CHECK CONSTRAINT [FK_GeneratedReports_ReportTypes]
GO
ALTER TABLE [dbo].[GeneratedReports]  WITH CHECK ADD  CONSTRAINT [FK_GeneratedReports_Users] FOREIGN KEY([GeneratedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GeneratedReports] CHECK CONSTRAINT [FK_GeneratedReports_Users]
GO
ALTER TABLE [dbo].[InterviewFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_InterviewFeedbacks_Interviews] FOREIGN KEY([InterviewId])
REFERENCES [dbo].[Interviews] ([InterviewId])
GO
ALTER TABLE [dbo].[InterviewFeedbacks] CHECK CONSTRAINT [FK_InterviewFeedbacks_Interviews]
GO
ALTER TABLE [dbo].[InterviewFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_InterviewFeedbacks_Users] FOREIGN KEY([ReviewerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InterviewFeedbacks] CHECK CONSTRAINT [FK_InterviewFeedbacks_Users]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Applications] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Applications]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Interviewer] FOREIGN KEY([InterviewerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Interviewer]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_ScheduledBy] FOREIGN KEY([ScheduledByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_ScheduledBy]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_Types] FOREIGN KEY([InterviewTypeId])
REFERENCES [dbo].[InterviewTypes] ([InterviewTypeId])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_Types]
GO
ALTER TABLE [dbo].[JobBenefits]  WITH CHECK ADD  CONSTRAINT [FK_JobBenefits_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobBenefits] CHECK CONSTRAINT [FK_JobBenefits_Jobs]
GO
ALTER TABLE [dbo].[JobCategories]  WITH CHECK ADD  CONSTRAINT [FK_JobCategories_Parent] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[JobCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[JobCategories] CHECK CONSTRAINT [FK_JobCategories_Parent]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[JobCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Categories]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Companies]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Departments]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_EmploymentTypes] FOREIGN KEY([EmploymentTypeId])
REFERENCES [dbo].[EmploymentTypes] ([EmploymentTypeId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_EmploymentTypes]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_ExperienceLevels] FOREIGN KEY([ExperienceLevelId])
REFERENCES [dbo].[ExperienceLevels] ([ExperienceLevelId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_ExperienceLevels]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Locations]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Recruiters] FOREIGN KEY([PostedByRecruiterId])
REFERENCES [dbo].[RecruiterProfiles] ([RecruiterId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Recruiters]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Jobs]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Skills]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Parent] FOREIGN KEY([ParentLocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Parent]
GO
ALTER TABLE [dbo].[NotificationRecipients]  WITH CHECK ADD  CONSTRAINT [FK_NotificationRecipients_Notifications] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([NotificationId])
GO
ALTER TABLE [dbo].[NotificationRecipients] CHECK CONSTRAINT [FK_NotificationRecipients_Notifications]
GO
ALTER TABLE [dbo].[NotificationRecipients]  WITH CHECK ADD  CONSTRAINT [FK_NotificationRecipients_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[NotificationRecipients] CHECK CONSTRAINT [FK_NotificationRecipients_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[RecruiterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RecruiterProfiles_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[RecruiterProfiles] CHECK CONSTRAINT [FK_RecruiterProfiles_Companies]
GO
ALTER TABLE [dbo].[RecruiterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RecruiterProfiles_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[RecruiterProfiles] CHECK CONSTRAINT [FK_RecruiterProfiles_Departments]
GO
ALTER TABLE [dbo].[RecruiterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RecruiterProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RecruiterProfiles] CHECK CONSTRAINT [FK_RecruiterProfiles_Users]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[SavedJobs]  WITH CHECK ADD  CONSTRAINT [FK_SavedJobs_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateProfiles] ([CandidateId])
GO
ALTER TABLE [dbo].[SavedJobs] CHECK CONSTRAINT [FK_SavedJobs_Candidates]
GO
ALTER TABLE [dbo].[SavedJobs]  WITH CHECK ADD  CONSTRAINT [FK_SavedJobs_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[SavedJobs] CHECK CONSTRAINT [FK_SavedJobs_Jobs]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_AssignedBy] FOREIGN KEY([AssignedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_AssignedBy]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[CandidateProfiles]  WITH CHECK ADD  CONSTRAINT [CK_CandidateProfiles_EmploymentStatus] CHECK  (([EmploymentStatus]='UNAVAILABLE' OR [EmploymentStatus]='INTERN' OR [EmploymentStatus]='FREELANCE' OR [EmploymentStatus]='EMPLOYED' OR [EmploymentStatus]='OPEN_TO_WORK'))
GO
ALTER TABLE [dbo].[CandidateProfiles] CHECK CONSTRAINT [CK_CandidateProfiles_EmploymentStatus]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [CK_Companies_Status] CHECK  (([Status]='BLOCKED' OR [Status]='PENDING' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [CK_Companies_Status]
GO
ALTER TABLE [dbo].[GeneratedReports]  WITH CHECK ADD  CONSTRAINT [CK_GeneratedReports_Status] CHECK  (([Status]='FAILED' OR [Status]='COMPLETED' OR [Status]='PROCESSING' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[GeneratedReports] CHECK CONSTRAINT [CK_GeneratedReports_Status]
GO
ALTER TABLE [dbo].[InterviewFeedbacks]  WITH CHECK ADD  CONSTRAINT [CK_InterviewFeedbacks_Recommendation] CHECK  (([Recommendation]='MAYBE' OR [Recommendation]='FAIL' OR [Recommendation]='PASS'))
GO
ALTER TABLE [dbo].[InterviewFeedbacks] CHECK CONSTRAINT [CK_InterviewFeedbacks_Recommendation]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [CK_Interviews_Status] CHECK  (([Status]='NO_SHOW' OR [Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [CK_Interviews_Status]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [CK_Jobs_Salary] CHECK  (([SalaryMin] IS NULL OR [SalaryMax] IS NULL OR [SalaryMin]<=[SalaryMax]))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [CK_Jobs_Salary]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [CK_Jobs_Status] CHECK  (([Status]='ARCHIVED' OR [Status]='EXPIRED' OR [Status]='CLOSED' OR [Status]='PUBLISHED' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [CK_Jobs_Status]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [CK_Locations_Type] CHECK  (([LocationType]='DISTRICT' OR [LocationType]='CITY' OR [LocationType]='COUNTRY'))
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [CK_Locations_Type]
GO
ALTER TABLE [dbo].[NotificationRecipients]  WITH CHECK ADD  CONSTRAINT [CK_NotificationRecipients_DeliveryStatus] CHECK  (([DeliveryStatus]='READ' OR [DeliveryStatus]='FAILED' OR [DeliveryStatus]='SENT' OR [DeliveryStatus]='PENDING'))
GO
ALTER TABLE [dbo].[NotificationRecipients] CHECK CONSTRAINT [CK_NotificationRecipients_DeliveryStatus]
GO
ALTER TABLE [dbo].[RecruiterProfiles]  WITH CHECK ADD  CONSTRAINT [CK_RecruiterProfiles_Status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[RecruiterProfiles] CHECK CONSTRAINT [CK_RecruiterProfiles_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([Status]='PENDING' OR [Status]='LOCKED' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Status]
GO
